.modal-open {
	margin: 21px;
}

.modal-outer {
	position: fixed;
	z-index: 1000;
	top: 100;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0);
}

.modal-inner {
	background-color: rgba(146, 148, 148, 0.73);
    border-radius: 20px;
	width: 90%;
	height: 90%;
	padding: 25px;
	margin: 0% auto;
}

.row.modal-content {
	background-color: rgba(0, 0, 0, 0);
	height: 100%;
	border-style: none;

    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}

.gist-details {
	height: 100%;
}

.title-box {
	background-color: #F9F9F9;
    border-radius: 20px;
	height: 14%;

	margin-top: 0%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 3%;
}

.code-box {
	background-color: #F9F9F9;
    border-radius: 20px;
	height: 82%;
  overflow-y: scroll;

	margin-top: 4%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
}

.preview-list {
	height: 100%;
	overflow-y: auto;
	margin-bottom: 30px;
}

.preview-box {
	background-color: #F9F9F9;
	width: 100%;
	height: 40%;
    border-radius: 20px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
}

.preview-box.last {
	margin-bottom: 0px;
}

.modal-content .col-md-1 {
    height: 100%;
}

#arrow-col {
    margin-left: 0;
    margin-right: 0;
    padding: 3px;
	height: 100%;
}

.img-container {
	height: 100%;
}

.left-arrow {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.code-container {
	padding: 10px;
	font-family: "Courier New";
}

.match-block {
	border-left-width: 6px;
	margin: 10px 0px;
	border-left-style: solid;
	padding-left: 8px;
}

.code-line {
	/*padding-left: 19px;
	text-indent: -17px;*/
  padding-left: 60px;
  text-indent: -73px;

	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; /* number of lines to show */
	line-height: 18px;         /* fallback */
	max-height: 36px;       /* fallback */
}

.match-block .line-number {
  color: red;
}


.collapse .code-line {
    padding-left: 32px;
    text-indent: -31px;
}

.hidden-code {
	padding-left: 15px;
	text-indent: -10px;
}

.line-number {
	font-weight: bold;
	padding-left: 14px;
}

.description-container {
	margin-left: 10px;
    margin-right: 10px;
    padding-top: 12px;
    padding-bottom: 0px;
}

.title {    
	padding-top: 28px;
    padding-left: 15px;
    padding-right: 10px;
	font-weight: bold;
	font-size: 16pt;
}

.date {
	padding-top: 2px;
    padding-left: 10px;
    padding-right: 15px;
	font-size: 12pt;

	display:block;
	float:right;
}

.author {
	padding-top: 0px;
    padding-left: 15px;
    padding-right: 10px;
	font-size: 12pt;
}

.line-number.match {
	color: red;
	padding: 0px;
}

/* Colors */
.color-0 {
	border-color: #499BC9;
}

.color-1 {
	border-color: #6EC138;
}

.color-2 {
	border-color: #F1D130;
}

.color-3 {
	border-color: #ED9F2E;
}

.color-4 {
	border-color: #FF2D21;
}

.color-5 {
	border-color: #6C2185;
}

.color-6 {
	border-color: #BFBFBF;
}

.color-7 {
	border-color: #404040;
}

/* Preview box css */
.preview-box .code-container {
	font-size: 8pt;
	font-family: "Courier New";
	padding-top: 0px;
}

.preview-box .match-block {
	border-left-width: 3px;
	margin-bottom: 6px;
	margin-top: 6px;
}

.preview-box .line-number {
	padding-left: 0px;
}

.preview-box .hidden-code {
    padding-left: 21px;
}

.preview-box .title {
	font-size: 10pt;
}

.preview-box .author {
	font-size: 8pt;
}

.preview-box .date {
	font-size: 8pt;
}

.preview-box .code-line {
	padding-left: 13px;
	text-indent: -13px;

	line-height: 12px;         /* fallback */
	max-height: 24px;       /* fallback */
}













#meta-card {
	width: 98%;
	max-height: 600px;

	border-color: #555;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px;

	margin: 10px;
	padding: 20px;
	color: black;
	display: none;
}

#meta-card .code-snippet {
	font-family: "Courier New";
	max-height: 450px;
	overflow: auto;
}

#meta-card .code-snippet .matched {
	color: blue;
}

#meta-card .snippet-name {
	margin-left: 60px;
	margin-right: 60px;
}

#meta-card .author {

}

#meta-card .created-date {

}

#meta-card .match {
	color: red;
	width: 100%;
}

#meta-card .full-width {
	width: 100%;
}

#meta-card #show-meta-stats {
	font-size: 12pt;
	font-weight: normal;
}

#meta-card #show-meta-stats.selected {
	font-weight: bold;
}

#meta-card #show-local-stats {
	font-size: 12pt;
	font-weight: normal;
}

#meta-card #show-local-stats.selected {
	font-weight: bold;
}

#meta-card #local-card {
	display: none;
}

#meta-card #local-card.selected {
	display: block;
}

#meta-card #global-card {
	display: none;
}

#meta-card #global-card.selected {
	display: block;
}

#meta-card a.author-entry {
	color: dimgray;
}

