#meta-card {
	width: 98%;
	max-height: 600px;

	border-color: #555;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px;

	margin: 10px;
	padding: 20px;
	color: black;
}

#meta-card .code-snippet {
	font-family: "Courier New";
	max-height: 450px;
	overflow: auto;
}

#meta-card .code-snippet .matched {
	color: blue;
}

#meta-card .snippet-name {
	margin-left: 60px;
	margin-right: 60px;
}

#meta-card .author {

}

#meta-card .created-date {

}

#meta-card .match {
	color: red;
	width: 100%;
}

#meta-card .full-width {
	width: 100%;
}

#meta-card #show-meta-stats {
	font-size: 12pt;
	font-weight: normal;
}

#meta-card #show-meta-stats.selected {
	font-weight: bold;
}

#meta-card #show-local-stats {
	font-size: 12pt;
	font-weight: normal;
}

#meta-card #show-local-stats.selected {
	font-weight: bold;
}

#meta-card #local-card {
	display: none;
}

#meta-card #local-card.selected {
	display: block;
}

#meta-card #global-card {
	display: none;
}

#meta-card #global-card.selected {
	display: block;
}

#meta-card a.author-entry {
	color: dimgray;
}

